У цьому домашньому завданні ми будемо працювати з набором даних Tips. Нижче інформація про нього.

**Про датасет:**

Tips - це датасет, який містить інформацію про рахунки та чайові в ресторані.

**Колонки датасету:**
- `total_bill` - загальна сума рахунку (долари)
- `tip` - розмір чайових (долари)
- `sex` - стать відвідувача (Male/Female)
- `smoker` - чи курить (Yes/No)
- `day` - день тижня (Thur/Fri/Sat/Sun)
- `time` - час відвідування (Lunch/Dinner)
- `size` - розмір групи (кількість людей)

**Джерело:** Оригінальні дані зібрані в одному з американських ресторанів у 1990-х роках. Скачати і переглянути набір даних можна тут: https://www.kaggle.com/datasets/sakshisatre/tips-dataset

А також ми вже вивантажили файл з даними і завантажили вам у Матеріали до цього модуля.




**1. Завантаження та огляд**

Завантажте датасет Tips (Чайові) з файла у матеріалах `tips.csv`.

Виведіть (кожен пункт оцінюється в 0.5 бала):
- Перші 5 рядків
- Розмір датасету (shape)
- Назви всіх колонок
- Інформацію про типи даних (info)

In [62]:
from operator import index

import pandas as pd

df = pd.read_csv('tips.csv')
df.head()
print(f"Розмір датасету: {df.shape}")
print(f"Колонки: {df.columns.values}")
df.info()

Розмір датасету: (244, 7)
Колонки: ['total_bill' 'tip' 'sex' 'smoker' 'day' 'time' 'size']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB

**2. Базова вибірка даних**

Виберіть та виведіть (кожен пункт оцінюється в 0.5 бала):
- Колонку `total_bill` (загальний рахунок)
- Колонки `total_bill` та `tip` (чайові) разом
- Перші 10 рядків
- Рядок з індексом 5

In [63]:
print(df[['total_bill']])
print(df[['total_bill', 'tip']])
print(df.iloc[0:10])
print("Рядок з індексом 5:")
print(df.iloc[5])

     total_bill
0         16.99
1         10.34
2         21.01
3         23.68
4         24.59
..          ...
239       29.03
240       27.18
241       22.67
242       17.82
243       18.78

[244 rows x 1 columns]
     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
..          ...   ...
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2
Рядок з індексом 5:
total_bill     25.29
tip             4.71
sex             Male
smoker            No
day              Sun
time          Dinner
size               4
Name: 5, dtype: object

**3. Фільтрація даних**

Відфільтруйте повний набір даних та виведіть (кожен пункт оцінюється в 0.5 бала):
- Всі рахунки більше 20 доларів (`total_bill > 20`)
- Всі відвідувачі-жінки (`sex == 'Female'`)
- Рахунки на вечерю (`time == 'Dinner'`)
- Рахунки на вечерю з сумою чеку більше 30 доларів

Для виведення результатів фільтрації:
- зберегти результат у окрему змінну
- показати кількість записів у відфільтрованому наборі
- вивести перші 5 записів відфільтрованого набору.

In [64]:
total_bill_greater_than_20 = df[df['total_bill'] > 20]
women = df[df['sex'] == 'Female']
dinner_check = df[df['time'] == 'Dinner']
dinner_check_greater_than_30 = df[(df['time'] == 'Dinner') & (df['total_bill'] > 30)]
print(f"Всі рахунки більше 20 доларів: {len(total_bill_greater_than_20)}")
print(total_bill_greater_than_20.iloc[0:5])
print(f"Всі відвідувачі-жінки: {len(women)}")
print(women.iloc[0:5])
print(f"Рахунки на вечерю: {len(dinner_check)}")
print(dinner_check.iloc[0:5])
print(f"Рахунки на вечерю з сумою чеку більше 30 доларів: {len(dinner_check_greater_than_30)}")
print(dinner_check_greater_than_30.iloc[0:5])

Всі рахунки більше 20 доларів: 97
   total_bill   tip     sex smoker  day    time  size
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
7       26.88  3.12    Male     No  Sun  Dinner     4
Всі відвідувачі-жінки: 87
    total_bill   tip     sex smoker  day    time  size
0        16.99  1.01  Female     No  Sun  Dinner     2
4        24.59  3.61  Female     No  Sun  Dinner     4
11       35.26  5.00  Female     No  Sun  Dinner     4
14       14.83  3.02  Female     No  Sun  Dinner     2
16       10.33  1.67  Female     No  Sun  Dinner     3
Рахунки на вечерю: 176
   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
Рахунки на вечерю з сумою чеку більше 30 доларів: 27
    total_bill   tip     sex smoker  day    time  size
11       35.26  5.00  Female     No  Sun  Dinner     4
23       39.42  7.58    Male     No  Sat  Dinner     4
39       31.27  5.00    Male     No  Sat  Dinner     3
44       30.40  5.60    Male     No  Sun  Dinner     4
47       32.40  6.00    Male     No  Sun  Dinner     4

---

**4. Описова статистика**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній розмір рахунку на всьому наборі даних
- Максимальні чайові
- Кількість пропущених значень у всіх колонках
- Скільки в наборі даних рахунків за обіди і за вечері

In [65]:
print(f"Середній розмір рахунку на всьому наборі даних: {df['total_bill'].mean()}")
print(f"Максимальні чайові: {df['tip'].max()}")
print(f"Кількість пропущених значень у всіх колонках:")
print(df.isnull().sum())
dinner_and_lunch_bills_count = len(df[(df['time'] == 'Dinner') | (df['time'] == 'Lunch')])
print(f"Скільки в наборі даних рахунків за обіди і за вечері: {dinner_and_lunch_bills_count}")

Середній розмір рахунку на всьому наборі даних: 19.78594262295082
Максимальні чайові: 10.0
Кількість пропущених значень у всіх колонках:
total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64
Скільки в наборі даних рахунків за обіди і за вечері: 244

---

**5. Статистика із групуванням**

Обчисліть (кожен пункт оцінюється в 0.5 бала):
- Середній рахунок за статтю (groupby `sex`)
- Середні чайові за днем тижня (groupby `day`)
- Скільки відвідувачів у кожен день

In [66]:
by_sex = df.groupby('sex')['total_bill'].mean()
print(f"Середній рахунок за статтю: \n {by_sex}")
by_day = df.groupby('day')['tip'].mean()
print(f"Середні чайові за днем тижня: \n {by_day}")
guests_by_day = df.groupby('day')['size'].sum()
print(f"Скільки відвідувачів у кожен день: \n {guests_by_day}")

Середній рахунок за статтю:
 sex
Female    18.056897
Male      20.744076
Name: total_bill, dtype: float64
Середні чайові за днем тижня:
 day
Fri     2.734737
Sat     2.993103
Sun     3.255132
Thur    2.771452
Name: tip, dtype: float64
Скільки відвідувачів у кожен день:
 day
Fri      40
Sat     219
Sun     216
Thur    152
Name: size, dtype: int64

---

**6. Створення нової колонки**

Створіть нову колонку `tip_percentage` - відсоток чайових від загальної суми рахунку.
Виведіть перші 10 рядків з новою колонкою.

In [67]:
df['tip_percentage'] = round(df['tip'] / df['total_bill'], 2) * 100
print(df[0:10])

   total_bill   tip     sex smoker  day    time  size  tip_percentage
0       16.99  1.01  Female     No  Sun  Dinner     2             6.0
1       10.34  1.66    Male     No  Sun  Dinner     3            16.0
2       21.01  3.50    Male     No  Sun  Dinner     3            17.0
3       23.68  3.31    Male     No  Sun  Dinner     2            14.0
4       24.59  3.61  Female     No  Sun  Dinner     4            15.0
5       25.29  4.71    Male     No  Sun  Dinner     4            19.0
6        8.77  2.00    Male     No  Sun  Dinner     2            23.0
7       26.88  3.12    Male     No  Sun  Dinner     4            12.0
8       15.04  1.96    Male     No  Sun  Dinner     2            13.0
9       14.78  3.23    Male     No  Sun  Dinner     2            22.0

---

**7. Сортування**

Відсортуйте датасет і виведіть результат сортування в кожному випадку окремо (кожен пункт оцінюється в 0.5 бала):
- За розміром рахунку (зростання)
- За чайовими (спадання)

Додатково виведіть топ-5 найбільших чайових використовуючи метод `nlargest`.

In [68]:
print("Сортування за розміром рахунку:")
print(df.sort_values('total_bill'))
print("Сортування за чайовими (за спаданням):")
print(df.sort_values(by ='tip', ascending=False))
print("Топ-5 найбільших чайових:")
print(df.nlargest(5, 'tip')['tip'])

Сортування за розміром рахунку:
     total_bill    tip     sex smoker   day    time  size  tip_percentage
67         3.07   1.00  Female    Yes   Sat  Dinner     1            33.0
92         5.75   1.00  Female    Yes   Fri  Dinner     2            17.0
111        7.25   1.00  Female     No   Sat  Dinner     1            14.0
172        7.25   5.15    Male    Yes   Sun  Dinner     2            71.0
149        7.51   2.00    Male     No  Thur   Lunch     2            27.0
..          ...    ...     ...    ...   ...     ...   ...             ...
182       45.35   3.50    Male    Yes   Sun  Dinner     3             8.0
156       48.17   5.00    Male     No   Sun  Dinner     6            10.0
59        48.27   6.73    Male     No   Sat  Dinner     4            14.0
212       48.33   9.00    Male     No   Sat  Dinner     4            19.0
170       50.81  10.00    Male    Yes   Sat  Dinner     3            20.0

[244 rows x 8 columns]
Сортування за чайовими (за спаданням):
     total_bill    tip     sex smoker   day    time  size  tip_percentage
170       50.81  10.00    Male    Yes   Sat  Dinner     3            20.0
212       48.33   9.00    Male     No   Sat  Dinner     4            19.0
23        39.42   7.58    Male     No   Sat  Dinner     4            19.0
59        48.27   6.73    Male     No   Sat  Dinner     4            14.0
141       34.30   6.70    Male     No  Thur   Lunch     6            20.0
..          ...    ...     ...    ...   ...     ...   ...             ...
0         16.99   1.01  Female     No   Sun  Dinner     2             6.0
111        7.25   1.00  Female     No   Sat  Dinner     1            14.0
92         5.75   1.00  Female    Yes   Fri  Dinner     2            17.0
67         3.07   1.00  Female    Yes   Sat  Dinner     1            33.0
236       12.60   1.00    Male    Yes   Sat  Dinner     2             8.0

[244 rows x 8 columns]
Топ-5 найбільших чайових:
170    10.00
212     9.00
23      7.58
59      6.73
141     6.70
Name: tip, dtype: float64